body {
    background: #FFFFFF;
}

.title-bar {
    height: 2rem;
    position: relative;
    border-bottom: 1px solid #e0e0e085;
}

.title-bar>p {
    position: relative;
    height: 100%;
}

#title-back {
    height: 50%;
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 0.5rem;
}

#title-name {
    display: inline-block;
    font-size: 0.7rem;
    color: #00000086;
    line-height: 2rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}