.title-bar{
    top: 0;
    z-index: 100;
    background: #FFFFFF;
    position: fixed;
    width: 100%;
}

.search-bar{
    display: -webkit-box; /* OLD: Safari, iOS 6 and earlier; Android browser, older WebKit */
    display: -moz-box; /* OLD: Firefox (can be buggy) */
    display: -ms-flexbox; /* OLD: IE 10 */
    display: -webkit-flex; /* FINAL, PREFIXED, Chrome 21+ */
    display: flex; /* FINAL: Opera 12.1+, Firefox 22+ */
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    height: 2rem;
    /* border-bottom: 1px solid #e0e0e085; */
}

.search-border-bar {
    width: 96%;
    height: 70%;
    display: -webkit-box; /* OLD: Safari, iOS 6 and earlier; Android browser, older WebKit */
    display: -moz-box; /* OLD: Firefox (can be buggy) */
    display: -ms-flexbox; /* OLD: IE 10 */
    display: -webkit-flex; /* FINAL, PREFIXED, Chrome 21+ */
    display: flex; /* FINAL: Opera 12.1+, Firefox 22+ */
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    border: 1px solid #bbb9b9c9;
    border-radius: 0.5rem;
}

.search-border-bar input{
    width: 70%;
}

.search-border-bar button{
    height: 80%;
    width: 20%;
    background: #008cffc9;
    border: 1px solid #008cffc9;
    border-radius: 0.5rem;
    color: white;
    outline: none;
}

.search-border-bar button:active{
    transform: translate3d(0.05rem,0.05rem,-0.05rem);
}

.weui-cells{
    margin-top: 2rem;
}

.cell-info{
    width: 80%;
    margin-left: 0.5rem;
}

.cell-info-title{
    font-size: 0.8rem;
    color: #353535;
}

.cell-info-other{
    font-size: 0.65rem;
    color: #5c5c5c;
}

.cell-info-status{
    font-size: 0.65rem;
}

.cell-info-status-p{
    color: #008cffc9;
}

.cell-info-status-r{
    color: #ff0000c9;
}

.cell-time{
    font-size: 0.6em;
    color: #0c0c0c;
    width: 20%;
}