.student-set-body{
    display: table;
    background: #ececec;
    border: 1px solid #dcdcdc;
    border-radius: 5px;
    width: 98%;
    margin: auto;
}

.title-name{
    font-size: 25px;
    color: #7f7f7f;
    margin-left: 10px;
}

.popup-menu{
    position: fixed;
    display: none;
    width: 50px;
    z-index: 100;
}

.popup-menu ul{
    list-style: none;
    padding: 0;
    border: 2px solid #7f7f7f;
    border-radius: 5px;
}

.popup-menu li{
    width: 100%;
    height: 30px;
    font-size: 15px;
    padding: 5px;
    background: white;
    cursor: pointer;
}

.popup-menu li:hover{
    background: #9d9d9d;
}

.student-set-info,
.student-set-guide{
    display: inline-block;
    float: left;
}

.student-set-info{
    width: 65%;
    border-radius: 5px;
}

.student-set-guide{
    margin-left: 2%;
    width: 30%;
}

.guide-top,
.guide-upload{
    height: 70px;
    background-color: white;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
}

.resume-complete-percent{
    color: red;
}

.resume-complete-progress{
    width: 96%;
    margin: auto;
}

.upload-btn{
    display: -webkit-box; /* OLD: Safari, iOS 6 and earlier; Android browser, older WebKit */
    display: -moz-box; /* OLD: Firefox (can be buggy) */
    display: -ms-flexbox; /* OLD: IE 10 */
    display: -webkit-flex; /* FINAL, PREFIXED, Chrome 21+ */
    display: flex; /* FINAL: Opera 12.1+, Firefox 22+ */
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    cursor: pointer;
    outline: none;
    text-decoration: none;
    color: #000;
}

.upload-btn:hover{
    text-decoration: none;
}

.upload-btn img{
    height: 30px;
    width: 30px;
}

.guide-btn{
    display: -webkit-box; /* OLD: Safari, iOS 6 and earlier; Android browser, older WebKit */
    display: -moz-box; /* OLD: Firefox (can be buggy) */
    display: -ms-flexbox; /* OLD: IE 10 */
    display: -webkit-flex; /* FINAL, PREFIXED, Chrome 21+ */
    display: flex; /* FINAL: Opera 12.1+, Firefox 22+ */
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    margin: auto;
    width: 100%;
    height: 35px;
    font-size: 15px;
    color: white;
}

#preview-btn,
#output-btn{
    height: 100%;
    outline: none;
    width: 40%;
    border-radius: 5px;
}

#preview-btn img{
    width: 20px;
    height: 12px;
}

#output-btn img{
    width: 18px;
    height: 18px;
}

#preview-btn{
    background-color: #ff525c;
}

#output-btn{
    background-color: #2f84f6;
}

.btn-space{
    margin: 0 20px;
}

.guide-bar{
    width: 280px;
}

.guide-bar ul{
    width: 96%;
    margin: 10px auto;
    padding: 0;
    list-style: none;
    text-align: center;
    background: white;
    border-radius: 5px;
    font-size: 18px;
}

.guide-bar li{
    height: 40px;
}

.guide-bar li:hover{
    background: #e9e9e9;
    border-right:3px solid #2f84f6;
}

.guide-bar a{
    outline: none;
    text-decoration: none;
    color: #7f7f7f;
}

.guide-bar p{
    line-height: 40px;
    text-align: center;
    height: 100%;
    margin: auto;
    cursor: pointer;
}

.student-set-info{
    margin-top: 10px;
    margin-left: 15px;
    position: relative;
    background-color: white;
}

.student-set-body hr{
    width: 96%;
    margin: auto;
    border-top: 2px dashed #8d8d8d;
}

.basic-info{
    height: 250px;
}

.sub-title-name{
    font-size: 20px;
    margin-left: 10px;
    margin-top: 10px;
    color: #7b7b7b;
}

.head-img-block{
    width: 20%;
    text-align: center;
    font-size: 15px;
    color: #7f7f7f;
}

.head-img-block img{
    width: 100px;
    height: 100px;
    border: 1px solid #7f7f7f;
    border-radius: 50px;
}

.basic-info-entity{
    margin-top: 30px;
}

.basic-info-other{
    margin-left: 30px;
    width: 60%;
}

.head-img-block,
.basic-info-other{
    display: inline-block;
    float: left;
}

.basic-info-name{
    color: #2f84f6;
    font-size: 20px;
}

.info-phone-number,
.info-email{
    color: #2f84f6;
}

#edit-basic-info{
    cursor: pointer;
    outline: none;
    text-decoration: none;
    color: #7f7f7f;
}

#edit-basic-info:hover{
    color: #5e5e5e;
}

.editor{
    z-index: 100;
    width: 500px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.edit-side,
.edit-body{
    display: inline-block;
    float: left;
}

.edit-body{
    width: 470px;
    background-color: white;
    border: 1px solid #d1d1d1;
    border-radius: 0 5px 5px 5px;
    font-size: 18px;
    color: #565656;
    padding: 20px;
}

.edit-side{
    text-align: center;
    background: #2f84f6;
    color: white;
    border-radius: 10px 0 0 10px;
    font-size: 20px;
    width: 30px;
    height: 110px;
}

#student-sex div{
    display: inline-block;
    text-align: center;
}

#student-sex > *{
    float: left;
}

#student-sex-male,
#student-sex-female{
    outline: none;
    width: 60px;
    border: none;
    background-color: #959595;
}

#female-btn{
    margin-left: 20px;
}

.basic-info-edit>div{
    margin: 20px auto;
}

.edit-btn-bar{
    display: -webkit-box; /* OLD: Safari, iOS 6 and earlier; Android browser, older WebKit */
    display: -moz-box; /* OLD: Firefox (can be buggy) */
    display: -ms-flexbox; /* OLD: IE 10 */
    display: -webkit-flex; /* FINAL, PREFIXED, Chrome 21+ */
    display: flex; /* FINAL: Opera 12.1+, Firefox 22+ */
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.cancel-button,
.confirm-button{
    width: 100px;
    margin: 10px;
    outline: none;
}

.cancel-button{
    background: white;
    border: 1px dashed #7f7f7f;
    color: #2b2b2b;
}

.confirm-button{
    background-color: #2f84f6;
    border: 1px solid #2f84f6;
    color: white;
}

#native-place-select{
    display: none;
}

#native-place-select select{
    font-size: 12px !important;
}

#origin-native-place{
    font-size: 13px;
}

#change-place-btn{
    cursor: pointer;
    font-size: 10px;
}

.editor{
    display: none;
}

.info-title{
    height: 50px;
}

.project-info,
.corporation-info,
.honor-info,
.skill-info{
    margin-top: 30px;
}

.add-btn{
    position: relative;
    float: right;
    cursor: pointer;
    outline: none;
    text-decoration: none;
    color: #7f7f7f;
    font-size: 15px;
    right: 40px;
}

.add-btn:hover{
    color: #9d9d9d;
    text-decoration: none;
}

.updown-btn-v{
    width: 96%;
    margin: auto;
}

.updown-btn{
    outline: none;
    border-left: none;
    border-right: none;
    border-top: 1px solid #e9e9e9;
    border-bottom: 1px solid #e9e9e9;
    color: #adadad;
    background: none;
    width: 100%;
}

.updown-list{
    list-style: none;
    padding: 10px 0 0 10px;
    font-size: 15px;
}

.updown-list li{
    margin-bottom: 10px;
    width: 96%;
    border: 1px dashed #9d9d9d;
    border-radius: 10px;
    box-shadow: 3px 3px 3px #7f7f7f;
    padding: 10px;
}

.updown-list li:last-child{
    margin-bottom: 0;
}

.project-info-name,
.corporation-info-name,
.honor-info-name{
    font-size: 18px;
    font-weight: bold;
}

.edit-project .edit-body div,
.edit-corporation .edit-body div,
.edit-honor .edit-body div{
    margin: 20px auto;
}

.editor input{
    border: 1px solid #7f7f7f;
}

#edit-project-description,
#edit-corporation-description,
#edit-honor-description{
    position: relative;
}

#edit-project-description span,
#edit-corporation-description span,
#edit-honor-description span{
    float: left;
}

#edit-project-description textarea,
#edit-corporation-description textarea,
#edit-honor-description textarea{
    font-size: 13px;
    width: 300px;
    height: 200px;
    resize: none;
    overflow-y: auto;
    border: 1px solid #7f7f7f;
}

.font-limit{
    position: absolute;
    bottom: 0;
    right: 40px;
    font-size: 15px;
    font-family: Bell MT,Times New Roman;
}

.font-num-limit{
    color: red;
}

#edit-honor-img>span{
    float: left;
}

#edit-honor-img a{
    display: inline-block;
    width: 200px;
    height: 120px;
    background: #cfcfcf;
    outline: none;
    text-decoration: none;
    color: #7f7f7f;
    cursor: pointer;
    text-align: center;
    padding: 10px;
}

#edit-honor-img a p:first-child{
    display: -webkit-box; /* OLD: Safari, iOS 6 and earlier; Android browser, older WebKit */
    display: -moz-box; /* OLD: Firefox (can be buggy) */
    display: -ms-flexbox; /* OLD: IE 10 */
    display: -webkit-flex; /* FINAL, PREFIXED, Chrome 21+ */
    display: flex; /* FINAL: Opera 12.1+, Firefox 22+ */
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
}

#edit-honor-img a:hover{
    text-decoration: none;
}

#honor-img-add{
    display: block;
    height: 50px;
    width: 50px;
    border: 5px solid #7f7f7f;
    color: #7f7f7f;
    border-radius: 25px;
    text-align: center;
    font-size: 30px;
}

.honor-info-img{
    width: 150px;
    height: 100px;
}