.title-bar {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
    background: #ffffff;
}

#save-btn {
    position: absolute;
    display: block;
    right: 2%;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    width: 15%;
    font-size: 0.8rem;
    height: 80%;
    line-height: 1.6rem;
    border: 1px dashed #7bc2fc;
    background: #ffffff;
    border-radius: 5px;
    color: #000000;
}

.side-nav-bg {
    top: 0;
    display: none;
    z-index: 120;
    position: fixed;
    width: 100%;
    height: 100%;
    background: #d6d6d680;
}

.ui-loader {
    display: none;
}

.remind-swipe {
    display: none;
    background: #8f8f8f80;
    width: 50%;
    font-size: 0.8rem;
    border-radius: 5px;
    position: fixed;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    color: #ffffff;
    z-index: 130;
}

.side-nav {
    top: 0;
    left: -40%;
    height: 100%;
    background: #494949;
    z-index: 150;
    position: fixed;
    width: 40%;
    font-size: 0.8rem;
}

.nav-item {
    padding: 5px;
    color: rgb(255, 255, 255) !important;
    text-align: center;
}

.nav-items {
    list-style: none;
    margin-top: 1rem;
}

.nav-on {
    background: #adadad;
    border-left: 3px solid #4c76ff;
}

.nav-show {
    animation: nav-in-animation 0.5s;
    -moz-animation: -moz-nav-in-animation 0.5s;
    -webkit-animation: -webkit-nav-in-animation 0.5s;
    left: 0;
}

.nav-out {
    animation: nav-out-animation 0.5s;
    -moz-animation: -moz-nav-out-animation 0.5s;
    -webkit-animation: -webkit-nav-out-animation 0.5s;
    left: -40%;
}

@keyframes nav-in-animation {
    from {
        left: -40%;
    }
    to {
        left: 0;
    }
}

@-moz-keyframes -moz-nav-in-animation {
    from {
        left: -40%;
    }
    to {
        left: 0;
    }
}

@-webkit-keyframes -webkit-nav-in-animation {
    from {
        left: -40%;
    }
    to {
        left: 0;
    }
}

@keyframes nav-out-animation {
    from {
        left: 0;
    }
    to {
        left: -40%;
    }
}

@-moz-keyframes -moz-nav-out-animation {
    from {
        left: 0;
    }
    to {
        left: -40%;
    }
}

@-webkit-keyframes -webkit-nav-out-animation {
    from {
        left: 0;
    }
    to {
        left: -40%;
    }
}

.main-body {
    margin-top: 2.5rem;
}

.main-body>div {
    display: none;
}

.tab-active {
    display: block !important;
}

.person-info-bar,
.project-info-bar,
.corporation-info-bar,
.honor-info-bar {
    padding: 1%;
    position: relative;
    display: -webkit-box;
    /* OLD: Safari, iOS 6 and earlier; Android browser, older WebKit */
    display: -moz-box;
    /* OLD: Firefox (can be buggy) */
    display: -ms-flexbox;
    /* OLD: IE 10 */
    display: -webkit-flex;
    /* FINAL, PREFIXED, Chrome 21+ */
    display: flex;
    /* FINAL: Opera 12.1+, Firefox 22+ */
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    min-height: 2rem;
    border-bottom: 1px solid #e0e0e085;
}

.person-info-title,
.person-info-entity,
.project-info-title,
.project-info-entity,
.corporation-info-title,
.corporation-info-entity,
.honor-info-title,
.honor-info-entity {
    display: inline-block;
}

.person-info-title,
.project-info-title,
.corporation-info-title,
.honor-info-title{
    position: relative;
    width: 30%;
}

.person-info-entity,
.project-info-entity,
.corporation-info-entity,
.honor-info-entity {
    width: 65%;
}

#person-head-img>img {
    width: 3rem;
    height: 3rem;
    border-radius: 100%;
}

.project-item,
.corporation-item,
.honor-item{
    width: 96%;
    margin: 5px auto 0;
}

.project-item-old,
.corporation-item-old,
.honor-item-old{
    border: 1px dashed #6494fa;
}

.project-item-new,
.corporation-item-new,
.honor-item-new{
    border: 1px dashed #faf764;
}

.project-delete,
.corporation-delete,
.honor-delete{
    background: rgb(255, 100, 100);
    border-radius: 5px;
    width: 20%;
    text-align: center;
    color: #ffffff;
}

.project-edit,
.corporation-edit,
.honor-edit{
    background: rgb(122, 153, 253);
    border-radius: 5px;
    width: 20%;
    text-align: center;
    color: #ffffff;
    margin-left: 5px
}

.project-item-new .project-edit,
.corporation-item-new .corporation-edit,
.honor-item-new .honor-edit{
    display: none;
}

#add-project-btn,
#add-corporation-btn,
#add-honor-btn{
    display: block;
    background: #7bc2fc;
    color: #ffffff;
    font-size: 0.8rem;
    border-radius: 5px;
    text-align: center;
    margin: 10px auto;
    width: 50%;
}

.add-plus{
    color: rgb(0, 60, 255);
}

#add-project-btn:active,
#add-corporation-btn:active,
#add-honor-btn:active{
    background: #5eb5fc;
}

.project-describe,
.corporation-describe,
.honor-describe{
    font-size: 0.8;
    padding: 3%;
}

.project-describe>textarea,
.corporation-describe>textarea,
.honor-describe>textarea{
    resize: none;
    width: 100%;
    height: 100px !important;
    border: none;
    overflow-y: auto !important;
}

.honor-describe{
    border-bottom: 1px solid #e0e0e085;
}

.honor-img-add{
    display: block;
    height: 50px;
    width: 50px;
    border: 5px solid #7f7f7f;
    color: #7f7f7f;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
}

.honor-img-btn{
    display: block;
}

.honor-img-btn p:first-child{
    display: -webkit-box; /* OLD: Safari, iOS 6 and earlier; Android browser, older WebKit */
    display: -moz-box; /* OLD: Firefox (can be buggy) */
    display: -ms-flexbox; /* OLD: IE 10 */
    display: -webkit-flex; /* FINAL, PREFIXED, Chrome 21+ */
    display: flex; /* FINAL: Opera 12.1+, Firefox 22+ */
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.honor-img-btn p{
    text-align: center;
}

.honor-img{
    padding: 3%;
}

.honor-img-upload{
    display: inline-block;
    width: 50%;
    background: #dddddd;
}

.honor-img-describe{
    word-break:break-all;
    display: inline-block;
    width: 45%;
    font-size: 0.5rem;
    color: #494949;
}