<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.zjgsu.ito.dao.ExcelViewMapper">
  <resultMap id="BaseResultMap" type="edu.zjgsu.ito.model.ExcelView">
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="t_week_report" jdbcType="REAL" property="tWeekReport" />
    <result column="t_summary" jdbcType="REAL" property="tSummary" />
    <result column="t_final_report" jdbcType="REAL" property="tFinalReport" />
    <result column="additional_score" jdbcType="REAL" property="additionalScore" />
    <result column="c_week_report" jdbcType="REAL" property="cWeekReport" />
    <result column="c_attendance" jdbcType="REAL" property="cAttendance" />
    <result column="score_a" jdbcType="REAL" property="scoreA" />
    <result column="score_b" jdbcType="REAL" property="scoreB" />
    <result column="final_score" jdbcType="REAL" property="finalScore" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="nick_name" jdbcType="VARCHAR" property="nickName" />
    <result column="clss" jdbcType="VARCHAR" property="clss" />
    <result column="teacher_id" jdbcType="INTEGER" property="teacherId" />
    <result column="grade" jdbcType="VARCHAR" property="grade" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, t_week_report, t_summary, t_final_report, additional_score, c_week_report, c_attendance, 
    score_a, score_b, final_score, user_name, nick_name, clss, teacher_id, grade
  </sql>
  <select id="selectByExample" parameterType="edu.zjgsu.ito.model.ExcelViewExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from excel_view
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limit != null">
      <if test="offset != null">
        limit ${offset}, ${limit}
      </if>
      <if test="offset == null">
        limit ${limit}
      </if>
    </if>
  </select>
  <delete id="deleteByExample" parameterType="edu.zjgsu.ito.model.ExcelViewExample">
    delete from excel_view
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="edu.zjgsu.ito.model.ExcelView">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into excel_view (t_week_report, t_summary, t_final_report, 
      additional_score, c_week_report, c_attendance, 
      score_a, score_b, final_score, 
      user_name, nick_name, clss, 
      teacher_id, grade)
    values (#{tWeekReport,jdbcType=REAL}, #{tSummary,jdbcType=REAL}, #{tFinalReport,jdbcType=REAL}, 
      #{additionalScore,jdbcType=REAL}, #{cWeekReport,jdbcType=REAL}, #{cAttendance,jdbcType=REAL}, 
      #{scoreA,jdbcType=REAL}, #{scoreB,jdbcType=REAL}, #{finalScore,jdbcType=REAL}, 
      #{userName,jdbcType=VARCHAR}, #{nickName,jdbcType=VARCHAR}, #{clss,jdbcType=VARCHAR}, 
      #{teacherId,jdbcType=INTEGER}, #{grade,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="edu.zjgsu.ito.model.ExcelView">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into excel_view
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="tWeekReport != null">
        t_week_report,
      </if>
      <if test="tSummary != null">
        t_summary,
      </if>
      <if test="tFinalReport != null">
        t_final_report,
      </if>
      <if test="additionalScore != null">
        additional_score,
      </if>
      <if test="cWeekReport != null">
        c_week_report,
      </if>
      <if test="cAttendance != null">
        c_attendance,
      </if>
      <if test="scoreA != null">
        score_a,
      </if>
      <if test="scoreB != null">
        score_b,
      </if>
      <if test="finalScore != null">
        final_score,
      </if>
      <if test="userName != null">
        user_name,
      </if>
      <if test="nickName != null">
        nick_name,
      </if>
      <if test="clss != null">
        clss,
      </if>
      <if test="teacherId != null">
        teacher_id,
      </if>
      <if test="grade != null">
        grade,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="tWeekReport != null">
        #{tWeekReport,jdbcType=REAL},
      </if>
      <if test="tSummary != null">
        #{tSummary,jdbcType=REAL},
      </if>
      <if test="tFinalReport != null">
        #{tFinalReport,jdbcType=REAL},
      </if>
      <if test="additionalScore != null">
        #{additionalScore,jdbcType=REAL},
      </if>
      <if test="cWeekReport != null">
        #{cWeekReport,jdbcType=REAL},
      </if>
      <if test="cAttendance != null">
        #{cAttendance,jdbcType=REAL},
      </if>
      <if test="scoreA != null">
        #{scoreA,jdbcType=REAL},
      </if>
      <if test="scoreB != null">
        #{scoreB,jdbcType=REAL},
      </if>
      <if test="finalScore != null">
        #{finalScore,jdbcType=REAL},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="nickName != null">
        #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="clss != null">
        #{clss,jdbcType=VARCHAR},
      </if>
      <if test="teacherId != null">
        #{teacherId,jdbcType=INTEGER},
      </if>
      <if test="grade != null">
        #{grade,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="edu.zjgsu.ito.model.ExcelViewExample" resultType="java.lang.Long">
    select count(*) from excel_view
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update excel_view
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.tWeekReport != null">
        t_week_report = #{record.tWeekReport,jdbcType=REAL},
      </if>
      <if test="record.tSummary != null">
        t_summary = #{record.tSummary,jdbcType=REAL},
      </if>
      <if test="record.tFinalReport != null">
        t_final_report = #{record.tFinalReport,jdbcType=REAL},
      </if>
      <if test="record.additionalScore != null">
        additional_score = #{record.additionalScore,jdbcType=REAL},
      </if>
      <if test="record.cWeekReport != null">
        c_week_report = #{record.cWeekReport,jdbcType=REAL},
      </if>
      <if test="record.cAttendance != null">
        c_attendance = #{record.cAttendance,jdbcType=REAL},
      </if>
      <if test="record.scoreA != null">
        score_a = #{record.scoreA,jdbcType=REAL},
      </if>
      <if test="record.scoreB != null">
        score_b = #{record.scoreB,jdbcType=REAL},
      </if>
      <if test="record.finalScore != null">
        final_score = #{record.finalScore,jdbcType=REAL},
      </if>
      <if test="record.userName != null">
        user_name = #{record.userName,jdbcType=VARCHAR},
      </if>
      <if test="record.nickName != null">
        nick_name = #{record.nickName,jdbcType=VARCHAR},
      </if>
      <if test="record.clss != null">
        clss = #{record.clss,jdbcType=VARCHAR},
      </if>
      <if test="record.teacherId != null">
        teacher_id = #{record.teacherId,jdbcType=INTEGER},
      </if>
      <if test="record.grade != null">
        grade = #{record.grade,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update excel_view
    set id = #{record.id,jdbcType=INTEGER},
      t_week_report = #{record.tWeekReport,jdbcType=REAL},
      t_summary = #{record.tSummary,jdbcType=REAL},
      t_final_report = #{record.tFinalReport,jdbcType=REAL},
      additional_score = #{record.additionalScore,jdbcType=REAL},
      c_week_report = #{record.cWeekReport,jdbcType=REAL},
      c_attendance = #{record.cAttendance,jdbcType=REAL},
      score_a = #{record.scoreA,jdbcType=REAL},
      score_b = #{record.scoreB,jdbcType=REAL},
      final_score = #{record.finalScore,jdbcType=REAL},
      user_name = #{record.userName,jdbcType=VARCHAR},
      nick_name = #{record.nickName,jdbcType=VARCHAR},
      clss = #{record.clss,jdbcType=VARCHAR},
      teacher_id = #{record.teacherId,jdbcType=INTEGER},
      grade = #{record.grade,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>