<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.zjgsu.ito.dao.WeightMapper">
  <resultMap id="BaseResultMap" type="edu.zjgsu.ito.model.Weight">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="t_week_report" jdbcType="REAL" property="tWeekReport" />
    <result column="t_summary" jdbcType="REAL" property="tSummary" />
    <result column="t_final_report" jdbcType="REAL" property="tFinalReport" />
    <result column="c_week_report" jdbcType="REAL" property="cWeekReport" />
    <result column="c_attendance" jdbcType="REAL" property="cAttendance" />
    <result column="teacher_weight" jdbcType="REAL" property="teacherWeight" />
    <result column="company_weight" jdbcType="REAL" property="companyWeight" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, t_week_report, t_summary, t_final_report, c_week_report, c_attendance, teacher_weight, 
    company_weight
  </sql>
  <select id="selectByExample" parameterType="edu.zjgsu.ito.model.WeightExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from weight
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limit != null">
      <if test="offset != null">
        limit ${offset}, ${limit}
      </if>
      <if test="offset == null">
        limit ${limit}
      </if>
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from weight
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from weight
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="edu.zjgsu.ito.model.WeightExample">
    delete from weight
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="edu.zjgsu.ito.model.Weight">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into weight (t_week_report, t_summary, t_final_report, 
      c_week_report, c_attendance, teacher_weight, 
      company_weight)
    values (#{tWeekReport,jdbcType=REAL}, #{tSummary,jdbcType=REAL}, #{tFinalReport,jdbcType=REAL}, 
      #{cWeekReport,jdbcType=REAL}, #{cAttendance,jdbcType=REAL}, #{teacherWeight,jdbcType=REAL}, 
      #{companyWeight,jdbcType=REAL})
  </insert>
  <insert id="insertSelective" parameterType="edu.zjgsu.ito.model.Weight">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into weight
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="tWeekReport != null">
        t_week_report,
      </if>
      <if test="tSummary != null">
        t_summary,
      </if>
      <if test="tFinalReport != null">
        t_final_report,
      </if>
      <if test="cWeekReport != null">
        c_week_report,
      </if>
      <if test="cAttendance != null">
        c_attendance,
      </if>
      <if test="teacherWeight != null">
        teacher_weight,
      </if>
      <if test="companyWeight != null">
        company_weight,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="tWeekReport != null">
        #{tWeekReport,jdbcType=REAL},
      </if>
      <if test="tSummary != null">
        #{tSummary,jdbcType=REAL},
      </if>
      <if test="tFinalReport != null">
        #{tFinalReport,jdbcType=REAL},
      </if>
      <if test="cWeekReport != null">
        #{cWeekReport,jdbcType=REAL},
      </if>
      <if test="cAttendance != null">
        #{cAttendance,jdbcType=REAL},
      </if>
      <if test="teacherWeight != null">
        #{teacherWeight,jdbcType=REAL},
      </if>
      <if test="companyWeight != null">
        #{companyWeight,jdbcType=REAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="edu.zjgsu.ito.model.WeightExample" resultType="java.lang.Long">
    select count(*) from weight
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update weight
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.tWeekReport != null">
        t_week_report = #{record.tWeekReport,jdbcType=REAL},
      </if>
      <if test="record.tSummary != null">
        t_summary = #{record.tSummary,jdbcType=REAL},
      </if>
      <if test="record.tFinalReport != null">
        t_final_report = #{record.tFinalReport,jdbcType=REAL},
      </if>
      <if test="record.cWeekReport != null">
        c_week_report = #{record.cWeekReport,jdbcType=REAL},
      </if>
      <if test="record.cAttendance != null">
        c_attendance = #{record.cAttendance,jdbcType=REAL},
      </if>
      <if test="record.teacherWeight != null">
        teacher_weight = #{record.teacherWeight,jdbcType=REAL},
      </if>
      <if test="record.companyWeight != null">
        company_weight = #{record.companyWeight,jdbcType=REAL},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update weight
    set id = #{record.id,jdbcType=INTEGER},
      t_week_report = #{record.tWeekReport,jdbcType=REAL},
      t_summary = #{record.tSummary,jdbcType=REAL},
      t_final_report = #{record.tFinalReport,jdbcType=REAL},
      c_week_report = #{record.cWeekReport,jdbcType=REAL},
      c_attendance = #{record.cAttendance,jdbcType=REAL},
      teacher_weight = #{record.teacherWeight,jdbcType=REAL},
      company_weight = #{record.companyWeight,jdbcType=REAL}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="edu.zjgsu.ito.model.Weight">
    update weight
    <set>
      <if test="tWeekReport != null">
        t_week_report = #{tWeekReport,jdbcType=REAL},
      </if>
      <if test="tSummary != null">
        t_summary = #{tSummary,jdbcType=REAL},
      </if>
      <if test="tFinalReport != null">
        t_final_report = #{tFinalReport,jdbcType=REAL},
      </if>
      <if test="cWeekReport != null">
        c_week_report = #{cWeekReport,jdbcType=REAL},
      </if>
      <if test="cAttendance != null">
        c_attendance = #{cAttendance,jdbcType=REAL},
      </if>
      <if test="teacherWeight != null">
        teacher_weight = #{teacherWeight,jdbcType=REAL},
      </if>
      <if test="companyWeight != null">
        company_weight = #{companyWeight,jdbcType=REAL},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="edu.zjgsu.ito.model.Weight">
    update weight
    set t_week_report = #{tWeekReport,jdbcType=REAL},
      t_summary = #{tSummary,jdbcType=REAL},
      t_final_report = #{tFinalReport,jdbcType=REAL},
      c_week_report = #{cWeekReport,jdbcType=REAL},
      c_attendance = #{cAttendance,jdbcType=REAL},
      teacher_weight = #{teacherWeight,jdbcType=REAL},
      company_weight = #{companyWeight,jdbcType=REAL}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>