.dataTables_filter{
  margin-top: -20px;
}
.loginLogo{
  width: 45px;
  height: 45px;
}
.flex-center{
  display: -webkit-flex; /* Safari */
  display: flex;
   justify-content:center;
}
.fa-times-circle{
  cursor: pointer;
}
.add-symbol{
  font-family: 'HYQiHei 105JF Bold', 'HYQiHei 105JF Regular', 'HYQiHei 105JF';
  font-weight: 700;
  font-size: 36px;
  color: #3399FF;
  position: absolute;
  left: -50px;
  top: 85px;
}
.data_analysis{
  color:#6c6c6c;
  font-weight: 600;
}
.data_analysis i{
  color: #3399FF;
}
#a,#b,#d,#e,#f,#g,#h{
font-family: 'Comic Sans MS Normal', 'Comic Sans MS';
font-weight: 400;
font-style: normal;
font-size: 28px;
color: #3399FF;
line-height: 2.2em;
}
/*#a { color: #009688; }*/
#b { color: #5FB878; }
/*#d { color: #009688; }*/
#e { color: #5FB878; }
/*#f { color: #009688; }*/
#g { color: #FF5722; }
#h { color: #5FB878; }
#total-num{
    font-family: 'Comic Sans MS Normal', 'Comic Sans MS';
    font-weight: 400;
    font-style: normal;
    font-size: 39px;
    color: #3399FF;
}
.hidden-scrolling{
  overflow:hidden;
}
.hidden{
  display: none;
}
.pointer{
  cursor:pointer; 
}
.modal-footer {
    text-align: center !important;
}
img{
  max-height: 500px;
  max-width: 750px;
}
#company_logo{
  max-width: 120px;
  float:left;
  margin:  auto auto 25px 25px;
}
.photo-inline-block{
  display:inline-block;
  width: 30%;
  border:1px solid #DDD;
  padding: 20px;
  height: 200px;
}
.photo-inline-block img{
  margin: auto;
  max-width: 100%;
  max-height: 100%;
}
.mark-content,.skill-content{
  display: -webkit-flex; /* Safari */
  display: flex;
  flex-wrap:wrap;
}
span#mark,span#skill{
  margin:20px 5px;
  padding: 8px 20px;
  font-size: 1.1em; 
}
.folding{
  border:none; 
}
.red{
  color: red !important;
}
.edit{
  position: absolute;
  top: 30px;
  right: 30px;
}
.score{
  font-style: italic;
  font-size: 180%;
  color: #3399FF;
}
.flex-center{
  display: flex;
 justify-content: center;
}
img#imageUrl{
  max-height: 300px;
  max-width: 400px;
  padding: 20px auto;
}
.pic-frame{
  width: 40%;
  padding: 8px;
  background-color: white;
   display: flex;
    justify-content: center;
}
.pic-frame img{
  width: 150px;
  max-height: 120px;
}
.inline-pic{
  margin: 5px;
  cursor:pointer; 
  display: inline-block;
}
.album{
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
  border-left:2px solid #ddd;
  border-right:2px solid #ddd;
  width:75%;
}
.album-1{
  width: 100%;
  margin-bottom: 20px;
  display: block;
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
}
.album-2{
  background-color: #F8F8FF;
  padding:10px;
  display: block;
}
#companyName{
  color: #199ED8;
}
.showlist{
  cursor:pointer; 
  color: #337ab7;
}
button.operations{
  display: none;
  float: left;
  margin-left: 31.5px;
  position: relative;
  top: -29px;
}
table.approval-table tr{
    height: 30px;
}
table.hightr tr{
    height: 58px !important;
}
.approval-table{
  line-height:180%;
  text-align: center;
}
.approval-button{
  width:100px;
  margin: 0px 10px;
}
.approval-news{
  margin:25px 50px;
}
table.approval-table>tbody>tr>th{
  width: 27.5%;
}
table.approval-table>tbody>tr>td{
  text-align: left;
}
.index-title{
    color: #7F7F7F;
    font-size: 1.6em;
}
.loginout{
  position: absolute;
  right: 0;
  bottom: 12.5%;
}
iframe{
  height: 100%;
}
.iframe3{
  border-radius:5px;
  height: 685px
}
select#nation {
  width: 160px;
}
.iframe-title{
  margin:0 auto;
/*  float: left;*/
  word-spacing: 0.1em;
}
.message-1,.message-2{
  position: relative;
  top: 20%;
  left: 35%;
  padding: 30px;
  width: 500px;
  border-radius: 10px;
}
.message-2{
  border: 1px solid #DDD;
}
.message-2>form{
  padding: 20px;
}
/*.message-2>form>input[type="file"] {
    display: inline;
}*/
.data-concrete{
  margin: 13px;
}
.smPadding{
  padding: 5px !important;
}
.modal-search{
  width: 300px;
  margin: auto 25px;
}
.inline{
  display: inline-block;
}
.stu_content{
  width: 40%;
  height: 300px;
  margin: 20px 20px;
  padding:10px; 
  font-size: 1.1em;
}
ul.teacherlist{
  cursor: pointer;
}
.templatemo-login-widget{
    margin-top:30px;
}
.clear{
   clear:both;
}
.titletop{
    text-align:center;
    color: #39ADB4;
    padding-left: 20px;
    padding-top:20px;
}
.titleword{
    padding-left:3px; 
    font-family:  Microsoft YaHei;
}
.footer{  
    position:fixed;bottom:0;
}  
#myTab2{
  float: right;
  margin-right: 20px;
  font-size: 0.9em;
}
#myTabDrop1{
  padding-bottom: 5px;
}
.nav-tabs{
    text-align: center;
}
.well-1{
  margin: 80px 80px 20px;
  text-align: center;
  height: 400px;
}
/*.well-2{
  margin: 30px 30px 20px;
  display: inline-block;
  width: 40%;
  height: 475px; 
}*/
.fullfill{
  height: 100%;
}
table>thead>tr>th{
  text-align:center;
}
table>tbody>tr>th{
  text-align:center;
}
.sytable{
  border: 0;
  margin: 20px 0;
  line-height:350%;
  width: 80%;  
  text-align: center!important;
}
.sytable th{
  text-align: center!important;
}
.float-right{
  float: right;
  margin: 6px;
}
.qdtg{
margin-top: 30px;
}
.pagination {
margin-left: 80px;
}
.postInfo{
  margin-left: 42px;
  margin-top: 5px;
}
#fixed{
  width: 150px;
}
h2.settitle{
  padding-left: 110px;
  display: inline-block;
}
h3.settitle{
    padding: 15px 110px;
}
h5.settitle{
  display: inline-block;
  padding-left: 29px;
  color: #169BD5;
}
.setform{
  padding-top: 20px;
  padding-left: 135px;
}
input#oldpsw,input#newpsw,input#newpsw2{
  max-width: 300px;
}
#pswbtn{
  margin-top: 9px;
}
.lglogo{
font-size: 4em;
margin: 20px;
}
.high-line-height{
  line-height: 2.0em;
}
#identification-photo{
  margin-top: -80px;
  width: 100px;
}
#identification-photo-2{
  margin-top: -30px;
  width: 100px;
}
.basic-info{
  display:inline-block;
  padding: 40px 80px;
  line-height: 1.8em;
}
.nav-stacked{
  width:100px;
  position: absolute;
  top: 135px;
  right: 20px;
}
.time-div{
  padding-top: 50px;
  padding-bottom: 50px;
}
.time-div:hover{
  position: relative;
  left: -5px;
  top: -5px;
  border: 1.5px solid #01AAED;
  box-shadow: 10px 10px 5px #DDD;
}
.circle-btn{
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%; 
  border: 1.5px solid #d2d2d2;
  height: 160px;
  width: 160px;
  background-color: white;
}
.circle-area{
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%; 
  width: 24px;
  height: 24px; 
  border:1px solid #DDD;
  background-color: white;
}
div.circle-area{
  position: relative;
  left: 10px;
}    
.well1-btn{
  display:inline-block;
  margin: 40px 75px;
}
.select{
  width:100px;
}
.float-left{
  float: left;
}
.history-data{
  float: left;
  margin-right: 30px;
  padding-left:10px;
  line-height:180%;
  width:11%;
  margin-bottom:-20px;
}
input.search{
  width: 20%; 
}
#total-num{
  margin-top: 11px;
  margin-bottom: 19.5px;
}
.search{
  margin-left: 1px !important;
  margin-right: 1px !important;
}
.height-660{
  height: 660px;
}
#qyzc,#sxfb,#sydt{
  padding: 20px;
}
#table-1,#table-2,#table-3{
  border: 1px solid #DDD !important;  
}
table.dataTable thead th,table.dataTable tbody td{
  border-bottom: 1px solid #DDD !important;
}
/*ul#myTab li{
  width: 17%;
}*/
ul#studentTab li{
  width: 14%;

}
ul#xsjl>li.list-group-item{
  padding-left: 66px;
  text-align: left;
}
ul#xsjl>li.list-group-item>h4{
  padding-left: 2px;
}
table#sxxj {
  width: 100%;
  font-size: 16px;
}
table#sxxj  tr{
  height: 40px;
}
table#sxxj tr th{
  text-align: right;
  width: 10%;
  min-width: 85px;
}
.sxxj-div1{
  padding:10px 30px;
}

div#myTabContent>div#teacher,div#myTabContent>div#company{
  padding: 20px;
}
.sxcj-div1{
  border:1px solid #DDD;
  margin:10px 10px;
  padding: 15px;
}
.sxcj-div2{
  border:1px dashed #DDD;
  padding:10px 10px;
  margin: 10px;
}
.sxcj-div3{
  border:1px dashed #DDD;
  padding:5px;
  margin: 10px;
}
.sxcj-div4{
  display: inline-block;
  border:1px dashed #DDD;
  padding:10px 30px;
  margin: 20px;
  width: 350px;
}
.sxcj-div5{
  border:1px dashed #DDD;
  padding:10px 50px;
  margin: 10px;
  width: 740px;
}
.list-group-item{
  padding: 30px 50px;
}
/*.time{
float: right;
}*/
table#table-yb>tbody>tr>td:nth-child(2),
table#table-yb>tbody>tr>td:nth-child(3),
table#table-zb>tbody>tr>td:nth-child(2),
table#table-zb>tbody>tr>td:nth-child(3){
  color: red;
}
table#teacher_details tr,table#student_details tr{
  height: 35px;
}
    #all{
    width: 880px;
    height:300px;
    margin: 8px;
    position: absolute;
    margin:auto; 
    left: 0;
    right: 0;
    }
.setDiv-2{
    display: flex;
    flex-wrap: nowrap;
    align-items:center;
    justify-content:center;
}
.setDiv{
  margin:25px 0px 20px 135px; 
   display: flex;
    flex-wrap: nowrap;
}
.setDiv>div{
  display: flex;
  justify-content:space-around;
  flex-wrap: wrap;
  font-size: 1.1em;
}
.setDiv>div>div>input{
   width: 100px;
}
button#qzbtn{
  margin-left: 135px;
}
@media  (min-width: 768px)  {
      .titletop {
        font: 16px/ 1.5 Microsoft YaHei, Helvitica, Verdana, Arial, san-serif;
     }
  }
  @media (min-width: 992px) {
      .titletop {
        font: 25px/ 1.5 Microsoft YaHei, Helvitica, Verdana, Arial, san-serif;
     }
  }

